
body{
  margin:0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:#ffffff;
  color:rgb(0, 0, 0);
  overflow-x:hidden;
}

/* partículas */
#particles{
  position:fixed;
  inset:0;
  z-index:-1;
}

/* container */
.container{
  max-width:900px;
  margin:auto;
  padding:40px 20px;
  text-align:center;
}

/* título */
.titulo{
  font-family:'Great Vibes';
  font-size:60px;
  color:#000000;
  text-shadow:0 0 20px #00000094;
  animation: fadeDown 1.5s ease;
}

/* spotify */
.spotify{
  backdrop-filter: blur(14px);
  background: rgb(8, 5, 5);
  border-radius: 20px;
  border: 1px solid rgb(3, 3, 3);
}

/* galeria */
.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin:40px 0;
}

.galeria img{
  width:100%;
  border-radius:20px;
  transition:.4s;
  box-shadow:0 0 20px #000000;
}

.galeria img:hover{
  transform:scale(1.05);
}

/* carta */
.carta{
  background:rgb(0, 0, 0);
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 30px #000000;
  animation: fadeUp 2s ease;
}

.carta h2{
  font-family:'Great Vibes';
  font-size:40px;
  color:#000000;
}

/* animações */
@keyframes fadeDown{
  from{opacity:0; transform:translateY(-40px);}
}

@keyframes fadeUp{
  from{opacity:0; transform:translateY(40px);}
}

@keyframes fade{
  from{opacity:0;}
}

.carta{
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 30px #ffffff;
  text-align: center;
}

.texto{
  display: none;

  opacity: 0;
  transform: translateY(15px) scale(0.98);

  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.texto.ativo{
  display: block;

  opacity: 1;
  transform: translateY(0) scale(1);
}



button{
  margin-top: 25px;
  background: #000000;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px #000000;
}




.float-img{
  position: fixed;
  width: 120px;
  pointer-events: none;
  z-index: 999;

  animation: floatMove 20s linear infinite;
}

@keyframes floatMove {
  0% {
    transform: translate(-10vw, 10vh) rotate(0deg);
  }

  25% {
    transform: translate(30vw, 60vh) rotate(90deg);
  }

  50% {
    transform: translate(70vw, 20vh) rotate(180deg);
  }

  75% {
    transform: translate(40vw, 80vh) rotate(270deg);
  }

  100% {
    transform: translate(-10vw, 10vh) rotate(360deg);
  }
}


.personagem-canto{
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 120px;
  z-index: 9999;

  cursor: pointer;
}


.personagem-canto2{
  position: fixed;
  bottom: 20px;
  left: 20px;

  width: 120px;
  z-index: 9999;

  pointer-events: none;
}



.btn-spotify{
  position: fixed;
  top: 20px;
  left: 20px;

  background: #0a0a0a;
  color: #ffffff;

  padding: 10px 18px;
  border-radius: 12px;

  text-decoration: none;
  font-weight: bold;

  box-shadow: 0 0 15px rgb(0, 0, 0);

  z-index: 9999;
}

.btn-spotify:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}



.text-box {
  width: 600px;
  max-height: 65vh;
  overflow-y: auto;

  padding: 25px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);

  line-height: 1.8;
  font-size: 16px;

  white-space: pre-line;
  word-break: break-word;
  text-align: left;
}







